*.preformat.bak*
*.orig
*.orig.meta
.vs/
.vsconfig

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

*.sln
*.sln*user
*.csproj
*.DotSettings
*.userprefs
.idea/
upm-ci~/
obj/
.DS_Store
docerrors.log

Assets/**/*.api
Assets/**/*.api.meta
